#### INTRODUCTION EXERCISE TO SPARK

In [1]:
import pyspark

conf = pyspark.SparkConf().setAppName('JugandoASerBanquero').setMaster('local[*]') #Creamos la configuración
sc = pyspark.SparkContext(conf = conf) #Abrimos el contexto de Spark

In [2]:
import pyspark.sql

sparkSession = pyspark.sql.SparkSession(sc, jsparkSession=None)

spark = sparkSession\
.builder\
.master("local")\
.appName("Let'sSpark")\
.config("spark.some.config.option", "some-value")\
.getOrCreate()

In [3]:
from pyspark.sql.types import *
restaurante_schema = (StructType([
         StructField("Nombre",StringType(),True),
         StructField("Tipo",StringType(),True),
         StructField("Cantidad",IntegerType(),True)]))
restaurante = spark.read.load('./datos-spark-intro.csv', format='csv', schema=restaurante_schema)
restaurante.show()

+-----------------+--------------------+--------+
|           Nombre|                Tipo|Cantidad|
+-----------------+--------------------+--------+
|  María Sharapova|Bars and restaurants|   36512|
|  Augustus Caesar|Bars and restaurants|   21837|
|    Holly Valance|Bars and restaurants|   18089|
|      Charlemagne|Bars and restaurants|   16977|
|        Liu Xiang|Bars and restaurants|   14400|
|      Burn Gorman|Bars and restaurants|   13530|
|   Darren Lockyer|Bars and restaurants|   12393|
|   Julius Peppers|Bars and restaurants|   12207|
|   Bryan Cranston|Bars and restaurants|   11291|
|         Pericles|Bars and restaurants|   10939|
|Malik Bendjelloul|Bars and restaurants|   10937|
| Shaquille O'Neal|Bars and restaurants|   10909|
|      Amber Heard|Bars and restaurants|   10695|
|      Emma Watson|Bars and restaurants|   10395|
|   Scottie Pippen|Bars and restaurants|   10348|
|     TaShya Nixon|Bars and restaurants|    9156|
|    Hayden Herman|Bars and restaurants|    8899|
|    Derek Goodwin|Bars and restaurants|    8321|
|     Cyrus Savage|Bars and restaurants|    7998|
|      Troy Mullen|Bars and restaurants|    7888|
+-----------------+--------------------+--------+
only showing top 20 rows

**PART 1:** Count number of restaurants movements greater than 10,000€

In [4]:
numeroDeComilones = restaurante.filter(restaurante['Cantidad'] > 10000).count()
numeroDeComilones

70

**PART 2:** Collect the top 6 people who have spent more than 6,000€ in restaurants

In [5]:
from pyspark.sql.functions import *
comilones = restaurante.filter(restaurante['Cantidad'] > 6000).sort(col("Cantidad").desc())
comilones.show(6)

+-----------------+--------------------+--------+
|           Nombre|                Tipo|Cantidad|
+-----------------+--------------------+--------+
|     Donald Trump|Bars and restaurants|   40254|
|George Washington|Bars and restaurants|   38776|
|        Brad Pitt|Bars and restaurants|   36962|
|  María Sharapova|Bars and restaurants|   36512|
|   Queen Victoria|Bars and restaurants|   36109|
|        Tarantino|Bars and restaurants|   29553|
+-----------------+--------------------+--------+
only showing top 6 rows

In [6]:
sc.stop()